// @import '../../node_modules/slick-carousel/slick/slick';
// @import '../../node_modules/magnific-popup/dist/magnific-popup';
@import "vars";
@import "libs";
@import "fonts";



@import "media";

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Fira Sans", sans-serif;
  color: #4b0981;
  font-weight: bold;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window__wrapper{
  width: 500px;
  height: 300px;
  background: #3c0870;
  border: 1px solid #44071f;
  border-radius: 3px;
}
.title{
  padding: 6px 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.window{
  width: 477px;
  height: 260px;
  margin: 0 auto;
}
.inp__wrapper{
  position: relative;
  padding: 10px 70px 10px;
  text-align: right;
  background: #ffffff;
}
.inp{
  border: 1px solid #4b0981;
}
.price__wrapper, .quantity__wrapper{
  padding: 10px 0;
}
.btn__wrapper{
  background: #ffffff;
  position: relative;
  padding: 10px 70px 10px;
  display: flex;
  justify-content: center;
}
.btn{
  width: 100px;
  padding: 5px 0;
  margin: 0 5px;
  border-radius: 4px;
  transition: .4s;
  outline: none;
  border: none;
  background: #3c0870;
  color: #ffffff;
  cursor: pointer;
  &:hover{
    background: #12e4d9;
    color: #e9e1ed;
  }
  &:active{
    background: rgb(224, 11, 11);
  }
}
.out__wrapper{
  background: #ffffff;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.out__item{
  width: 300px;
  text-align: right;
  position: relative;
}
span{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.out{
  // background: rgb(220, 165, 241);
  height: 30px;
  width: 200px;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #4b0981;
  border-radius: 3px;
}

