// @import '../../node_modules/slick-carousel/slick/slick';
// @import '../../node_modules/magnific-popup/dist/magnific-popup';
@import "vars";
@import "libs";
@import "fonts";



@import "media";

.btn-totop {
  position: fixed;
  display: inline-block;
  right: 90px;
  bottom: 70px;
  background: #0dee85;
  border-radius: 2px;
  z-index: 5;
  font-size: 20px;
  transition: 0.5s;
  color: #9e1515;
  display: none;
  span{
    display: inline-block;
    border: 2px solid #119bf1;
    border-radius: 3px;
    padding: 5px;
  }
  ::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 50px;
    height: 50px;
    transform: translateX(-50%);
    transition: 0.5s;
    z-index: -4;
  }
  &:hover {
    transform: translateX(-10px);
    border-top: none;
    span{
      border: none;
    }
    ::before {
      height: 55px;
      width: 55px;
      top: -30px;
      left: 11px;
      transform: rotate(45deg);
      border-left: 3px solid #8abe29;
      border-top: 3px solid #8f10a0;
    }
  }
}

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Fira Sans", sans-serif;
  color: #4b0981d8;
  font-weight: bold;
}
.container{
  width: 100%;
}
.menu{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.74);
  z-index: 2;
  &__item{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #2b303a9e;
    font-size: 20px;
    border: 1px solid #9cf5ce;
    border-radius: 3px;
    transition: .5s;
    &:hover{
      color: #000;
      border: 1px solid #05ec88;
    }
    &:active{
      background: #9cf5ce;
    }
    &:focus{
      background: #9cf5ce;
    }
  }
}
.l-1,
.l-4{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-3{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window__wrapper{
  width: 500px;
  height: 300px;
  background: #3c0870e0;
  border: 1px solid #44071f;
  border-radius: 3px;
}
.title{
  padding: 6px 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.window{
  width: 477px;
  height: 260px;
  margin: 0 auto;
}
.inp__wrapper{
  position: relative;
  padding: 10px 70px 10px;
  text-align: right;
  background: #ffffff;
}
.inp{
  border: 1px solid #4b0981;
}
.price__wrapper, .quantity__wrapper{
  padding: 10px 0;
}
.btn__wrapper{
  background: #ffffff;
  position: relative;
  padding: 10px 70px 10px;
  display: flex;
  justify-content: center;
}
.btn{
  width: 100px;
  padding: 5px 0;
  margin: 0 5px;
  border-radius: 4px;
  transition: .4s;
  outline: none;
  border: none;
  background: #3c0870d8;
  color: #ffffff;
  cursor: pointer;
  &:hover{
    background: #12e4d9;
    color: #e9e1ed;
  }
  &:active{
    background: rgb(224, 11, 11);
  }
}
.out__wrapper{
  background: #ffffff;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.out__item{
  width: 300px;
  text-align: right;
  position: relative;
}
span{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.out{
  // background: rgb(220, 165, 241);
  height: 30px;
  width: 200px;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #4b0981;
  border-radius: 3px;
}
// l-3-------------------------------------------------------------
.d-none{
  display: none;
}
// .d-flex{
//   display: flex;
//   width: 300px;
//   height: 300px;
//   background: rgb(39, 236, 227);
//   border: 1px solid #1ac5f0;
//   z-index: 1000;
// }
.d-vis{
  display: flex;
  justify-content: space-between;
}
.game-window{
  width: 300px;
  height:180px;
  border: 1px solid #1ac5f0;
  border-radius: 3px;
  position: relative;
  background: rgb(173, 224, 236);
  .start{
    border: 1px solid #1ac5f0;
    border-radius: 3px;
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    background: #1ac5f0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    &:hover{
      background: rgb(5, 94, 129);
    }
    &:active{
      background: rgb(4, 72, 99);
    }
  }
  &__title{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-33%);
    color:#1ac5f0;
  }
}
.close-btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  color: #ffffff;
  font-weight: bold;
  background: #d31f1f;
  border: 1px solid #5a0505;
}
.game{
  width: 650px;
  height: 300px;
  position: relative;
  // background: rgb(39, 236, 227);
  // border: 1px solid #1ac5f0;
}
.players-turn{
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translateX(-33%);
  color: #1ac5f0;
  font-size: 45px;
  width: 100%;
}
.game-inner-1,
.game-inner-2{
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.game-inner-1__title,
.game-inner-2__title{
  position: absolute;
  top: -28px;
  left: 0;
  color: #ffffff;
  padding: 5px;
  border-bottom: none;
}
.game-inner-1__title{
  background: #1ac5f0;
}
.game-inner-2__title{
  background: #ec07d9;
}
.block{
  width: 100px;
  height: 100px;
  // background: rgba(233, 222, 222, 0.323);
  border: 1px solid #1ac5f0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(70, 53, 53);
  font-size: 80px;
}
.block-x{
  width: 100px;
  height: 100px;
  // background: rgba(233, 222, 222, 0.323);
  border: 1px solid #ec07d9;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(70, 53, 53);
  font-size: 80px;
}
.win-bg{
  background: hsla(199, 99%, 50%, 0.4);
}
.win-bgX{
  background: hsla(305, 94%, 48%, 0.4);
}
.players-turn-title-color{
  color: #ec07d9;
}

// l-4-------------------------------------
.l-4{
  height: 100vh;
}
.window__wrapperl4{
  width: 500px;
  height: 300px;
  background: #3c0870e0;
  border: 1px solid #44071f;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .title{
    position: absolute;
    left: 0;
    top: 0;
  }
  .title-inner{
    color: #352e2e;
    font-size: 23px;
    padding: 10px 10px 5px;
  }
}
.img-l4{
  width: 250px;
  height: 130px;
  position: absolute;
  right: 30px;
  top: 60px;
  background-image: url(../img/happy-hobby-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.window-l4{
  margin-top: 12px;
  height: 255px;
  width: 465px;
  background: rgb(255, 255, 255);
  label{
    display: inline-block;
    padding: 5px 0 5px 10px;
  }
  .inp-l4{
    margin-left: 3px;
  }
}
.btn-l4{
  width: 100px;
  padding: 5px 0;
  margin: 10px 5px 10px 20px;
  border-radius: 4px;
  transition: .4s;
  outline: none;
  border: none;
  background: #e61cbad8;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  &:hover{
    background: #12e4d9;
    color: #e9e1ed;
  }
  &:active{
    background: rgb(224, 11, 11);
  }
}
.descr{
  display: inline-block;
}
.price-l4,
.price-dop-l4{
width: 100px;
height: 20px;
display: inline-block;
}

// l-5-------------------------------------
.l-5{
  height: 100vh;
}


// l-6-------------------------------------
.l-6{
  height: 100vh;
}

